<p class="lead">
  <%= link_to @post.title, @post.url, target: "_blank" %>
</p>
<hr />
<p><%= @post.description %></p>
<hr />
<h5>Cagegories</h5>
<% @post.categories.each do |category| %>
  <span class="label">
    <%= link_to category.name, '#' %>
  </span>
<% end %>
