.simple_form {
  $indent: 120px;
  label {
    float: left;
    margin: 2px 10px;
    width: $indent;
    &.radio, &.checkbox {
      float: none;
      margin-left: $indent + 10px;
    }
    &.comment {
      float: none;
      width: auto;
    }
  }
  textarea {
    overflow: auto;
    min-width: 400px;
    height: 160px;
  }

  #post {margin-left: $indent + 300px;}
  #category {margin-left: 30px;}
}