.simple_form {
  $indent: 120px;
  label {
    float: left;
    margin: 2px 10px;
    width: $indent;
    &.radio, &.checkbox {
      float: none;
      margin-left: $indent + 10px;
    }
    &.comment {
      float: none;
      width: auto;
    }
  }
  input.signup {
    width: 100%;
  }
  textarea {
    overflow: auto;
    min-width: 400px;
    height: 160px;
  }
  p.help-block {
    clear: left;
    margin-left: $indent + 20;
    font-size: 12px;
    color: #888;
    display: block;
  }

  #post {margin-left: $indent + 300px;}
}