<% provide(:title, 'Category') %>
<h3>Create a new category</h3>
<hr />

<%= simple_form_for @category do |f| %>
  <%= render 'shared/error_messages', obj: @category %>
  <%= f.input :name, input_html: {class: "input-xlarge"}, error: false %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
