<% provide(:title, 'Category') %>
<h3>Create a new category</h3>
<hr />

<%= simple_form_for @category do |f| %>
  <%= render 'shared/error_messages', target: @category %>
  <%= f.input :name, input_html: {class: "input-xlarge"}, error: false %>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
